<template>
  <div id="flip-book-with-components" class="flip-book-with-components">
    <!-- <button style="position: absolute; left: 100px; top: 100px; z-index: 1000000" @click="resetDragAndZoom()">
      RESET
    </button> -->

    <div id="flip-book">
      <div
        id="flip-book-ref"
        :style="{
          backgroundSize: 'cover',
          width: `calc((${90 * 1} * ${visibleHeight}) * ${pageScale} * 2)`,
          height: `calc(${90 * 1} * ${visibleHeight})`,
        }"
      >
        <transition name="flip-book-fade">
          <div id="two-pages" class="two-pages">Patryk Gay 38</div>
        </transition>
      </div>
    </div>
  </div>
</template>
//
<script>
export default {
  name: "App",

  data() {
    return {
      visibleHeight: "",
      pageScale: 0.745381773,
    };
  },
  created() {
    this.getVmin();
    window.addEventListener("resize", this.getVmin);
  },

  methods: {
    getVmin() {
      let visibleHeight;
      let visibleWidth;
      if (
        window.innerWidth == screen.width &&
        window.innerHeight == screen.height
      ) {
        visibleHeight = window.outerHeight;
        visibleWidth = window.outerWidth;
      } else {
        visibleHeight = window.innerHeight;
        visibleWidth = window.innerWidth;
      }
      let vvmin = visibleHeight > visibleWidth ? visibleWidth : visibleHeight;
      this.visibleHeight = vvmin / 100 + "px";
    },
  },
  mounted() {
    const doc = document.getElementById("flip-book-with-components");
    if (doc) {
      doc.style.height = window.innerHeight + "px";
    }
  },
};
</script>
<style lang="sass" scoped>
@import url('https://fonts.googleapis.com/css2?family=Corinthia&display=swap')
.flip-book-with-components
  width: 100%
  height: calc(100 * var(--vh))
  .move-mode-arrows
    position: absolute
    width: 5%
    height: 7%
    opacity: 1
    z-index: 1000
    object-fit: contain
    pointer-events: none
    .arrows
      opacity: 0.6
      filter: drop-shadow(0 0 0.175rem white)
      postion: relative
      object-fit: contain
      width: 100%
      height: calc(100 * var(--vh))
.flip-book-zoom-box
  transform-origin: center center
#flip-book, #flip-book-ref
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: calc(100 * var(--vh))
  perspective: 800vmin
  display: flex
  align-items: center
  justify-content: center
  p, span, b, h1, img
    user-select: none
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
  input[type=number]
    -moz-appearance: textfield
  .disable
    opacity: .5
    cursor: auto !important
    transform: none !important
  .transition-none
    transform: none !important
  .transition-none > *
    transform: none !important
  .disable > *
    transform: none !important
    cursor: auto !important
  .two-pages
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-app-region: no-drag
    -webkit-user-drag: none;
    background: blue;
    position: absolute
    // top: 5vh
    // left: calc((100% - (90vmin * 0.84321475626) * 2 )/2)
    width: calc((90vmin * 0.745381773) * 2)

    height: calc(90 * var(--vmin));
    transform-origin: top left
    transform-style: preserve-3d
    text-align: center
    transition: transform 1s, display .1s, margin-left .5s
    transition-timing-function: ease-in-out
    z-index: 0
    .page-switch
       position: absolute
       height: 10%
       width: 100px
       cursor: pointer
    .page-left-switch
      @extend .page-switch
      top: -3%
      left: -3%
    .page-right-switch
      @extend .page-switch
      top: -3%
      right: -3%
    .page-left-down-switch
      @extend .page-switch
      bottom: -3%
      left: -3%
    .page-right-down-switch
      @extend .page-switch
      bottom: -3%
      right: -3%
    .page-block-id
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      z-index: 2
      font-family: 'Myriad Pro Bold'
      font-size: 5.4vmin
      color: white
      left: 80%
      top: 22.3%
      width: 6%
      height: 9%
    .page-block-title
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      z-index: 2
      font-family: 'Myriad Pro Bold'
      font-size: 2vmin
      color: white
      left: 60%
      top: 54%
      width: 29%
      height: 7%
    .back-container
      position: absolute
      height: 100%
      width: 100%
      .page

        z-index: 0
        position: absolute
        width: 50%
        height: 100%
        img
          width: 100%
          object-fit: cover
      .left
        left: 0
        .shadow
          box-shadow: inset -2.0vmin 0px 3.0vmin -3.0vmin #000000 !important
      .right
        right: 0
        .shadow
          box-shadow: inset 2.0vmin 0px 3.0vmin -3.0vmin #000000 !important
    .page
      // box-shadow: 0 4px 8px 0 rgba(0,0,0,.1)
      z-index: 1
      position: absolute
      width: 50%
      height: 100%
      left: 0
      transition: 1s
      transform-style: preserve-3d
      .back, .front
        width: 100%
        height: 100%
        position: absolute
        -webkit-backface-visibility: hidden
        backface-visibility: hidden
        .shadow-left
          box-shadow: inset 2.0vmin 0vmin 3vmin -3vmin #000000
        .shadow-right
          box-shadow: inset -2vmin 0vmin 3vmin -3vmin #000000
      .back
        transform: rotateY(180deg)
        top: 0
        position: absolute
      img
        width: 100%
        // opacity: 0
        object-fit: cover
      // .shadow
      //   top: 0
      //   width: 100%
      //   box-shadow: inset 2vmin 0vmin 3vmin -3vmin #000000, inset -2vmin 0vmin 3vmin -3vmin #000000
      //   background: transparent
      //   position: absolute
      //   height: 100%
      // .shadow-first-page
      //   box-shadow: inset 2vmin 0vmin 3vmin -3vmin #000000
      // .shadow-last-page
      //   box-shadow: inset -2vmin 0vmin 3vmin -3vmin #000000
    .left
      transform-origin: right
      left: 0% !important
      // background: #f2f2f2
    .right
      transform-origin: left
      left: 50%  !important
      // background: #f2f2f2
  .page-corner
    z-index: 1000
    position: absolute
    right: 0
    // top: 0
    width: 3.9%
    height: 3.6%
    background: transparent
    overflow: hidden
    transition-timing-function: cubic-bezier(0,.35,.5,1.7)
    transition-duration: .3s
    transform-origin: right top
    // &:hover
    //   transform: scale(2.7)
    // background: -webkit-linear-gradient(45deg,#ddd 17%,#dfdfdf 18%,#f5f5f5 30%,#f8f8f8 34%,#eee 39%,hsla(0,0%,100%,.02) 41%)
    .background
      // cursor: pointer
      box-shadow: 0vmin 0vmin 0.2vmin 0.1vmin rgba(0, 0, 0, .3)
      background: -webkit-linear-gradient(45deg,#ddd 17%,#dfdfdf 18%,#f5f5f5 30%,#f8f8f8 34%,#eee 39%,hsla(0,0%,100%,.02) 41%)
      width: 100%
      height: 100%
      position: absolute
    .active
      background: white
      width: 100%
      height: 100%
      position: absolute
  .page-corner-left
    left: 0
    top: 0
    transform-origin: left top
    .background
      background: -webkit-linear-gradient(135deg,#ddd 17%,#dfdfdf 18%,#f5f5f5 30%,#f8f8f8 34%,#eee 39%,hsla(0,0%,100%,.02) 41%)
      left: -30%
      top: -30%
    .active
      left: -30%
      top: -30%
  .page-corner-right-top
    right: 0
    top: 0
    // transform-origin: left top
    .background
      // background: -webkit-linear-gradient(135deg,#ddd 17%,#dfdfdf 18%,#f5f5f5 30%,#f8f8f8 34%,#eee 39%,hsla(0,0%,100%,.02) 41%)
      right: -30%
      top: -30%
    .active
      right: -30%
      top: -30%
  .page-corner-left-bottom
    left: 0
    bottom: 0 !important
    transform-origin: left bottom
    .background
      background: -webkit-linear-gradient(-135deg,#ddd 17%,#dfdfdf 18%,#f5f5f5 30%,#f8f8f8 34%,#eee 39%,hsla(0,0%,100%,.02) 41%)
      left: -30%
      bottom: -30%
    .active
      left: -30%
      bottom: -30%
  .page-corner-right-bottom
    right: 0
    bottom: 0 !important
    transform-origin: right bottom
    .background
      background: -webkit-linear-gradient(-45deg,#ddd 17%,#dfdfdf 18%,#f5f5f5 30%,#f8f8f8 34%,#eee 39%,hsla(0,0%,100%,.02) 41%)
      right: -30%
      bottom: -30%
    .active
      right: -30%
      bottom: -30%
  .image-zoom-leave-active, .image-zoom-enter-active
    transition: all .5s linear
  .image-zoom-leave-to, .image-zoom-enter
    opacity: 0
  .flip-book-fade-leave-active, .flip-book-fade-enter-active
    transition: all .5s 1s ease-in-out
  .flip-book-fade-leave-to, .flip-book-fade-enter
    opacity: 0
  .bookmark-top-fade-leave-active, .bookmark-top-fade-enter-active
    transition: all .25s ease-in-out
  .bookmark-top-fade-leave-to, .bookmark-top-fade-enter
    transform: translateY(5vh)
</style>
