<template>
  <div class="hello" style="width: 100%; height: 100%; color: white">
    <div
      style="
        position: absolute;
        height: 10%;
        width: 100%;
        top: 20%;
        left: 0%;

        font-size: 12rem;
      "
    >
      <!-- <input
        :maxlength="maxymilian"
        @keyup="onInput"
        id="input-item"
        type="text"
      /> -->
      <textarea
        :maxlength="maxymilian * 2"
        @keyup="onInput"
        id="input-item"
        type="text"
      ></textarea>

      <span
        style="
          background: white;
          font-size: 1rem;
          color: black;
          z-index: 1;
          position: fixed;
        "
        id="span-item"
      >
      </span>
      <!-- <textarea
        id="gowno"
        style="
          font-family: 'Minion Pro Regular';
          width: 40ch;
          text-size-adjust: 10%;
          display: inline-block;
          max-height: 50px;
          resize: none;
          flex-grow: 1;
        "
        @keyup="has_scrollbar('gowno')"
      ></textarea> -->
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data() {
    return {
      tab: [1, 2],
      maxymilian: 999,
    };
  },
  methods: {
    onInput() {
      let inputItem = document.getElementById("input-item");
      let spanItem = document.getElementById("span-item");
      let formattedValue = inputItem.value.replaceAll(/ /g, "i");
      // console.log("formated", formattedValue);
      spanItem.innerHTML = formattedValue;
      // console.log("inputItem.value.length", inputItem.value.length);
      let spanWidth = spanItem.getBoundingClientRect().width;

      if (spanWidth > 90) {
        if (this.maxymilian === 999) {
          this.maxymilian = inputItem.value.length - 1;
          console.log("maksymiliana", this.maxymilian);
        }
      } else {
        this.maxymilian = 999;
      }
    },
    has_scrollbar(elem_id) {
      const elem = document.getElementById(elem_id);
      if (elem.clientHeight < elem.scrollHeight) {
        elem.style.overflowY = "hidden";
        elem.value = elem.value.slice(0, -1);
        elem.maxLength = elem.value.legth;
      } else {
        elem.maxLength = 400;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
  font-family: "Minion Pro Regular";
  width: 100%;
  height: 100%;
  background: black;
}
input {
  width: 100px;
  font-size: 1rem;
  font-family: "Minion Pro Regular";
}
textarea {
  width: 100px;
  font-size: 1rem;
  font-family: "Minion Pro Regular";
}

/* textarea::-webkit-scrollbar {
  display: none;
} */
</style>
