<template>
  <div id="app">
    <HelloWorld msg="Welcome to Your Vue.js App" />
    {{ windowHeight }}<br />{{ windowFullHeight }}
    <div class="footer-element">{{ windowHeight }}</div>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";

export default {
  name: "App",
  components: {
    HelloWorld,
  },
  data() {
    return {
      windowHeight: window.innerHeight,
      windowFullHeight: window.outerHeight,
    };
  },
  created() {
    this.resizeWindow();

    window.addEventListener("resize", this.resizeWindow);
  },
  // destroyed() {
  //   window.removeEventListener("resize", this.resizeWindow);
  // },
  methods: {
    resizeWindow() {
      let visibleHeight;
      let visibleWidth;
      if (
        window.fullScreen ||
        (window.innerWidth == screen.width &&
          window.innerHeight == screen.height)
      ) {
        visibleHeight = window.outerHeight;
        visibleWidth = window.outerWidth;
      } else {
        visibleHeight = window.innerHeight;
        visibleWidth = window.innerWidth;
      }
      document
        .querySelector(":root")
        .style.setProperty("--vh", visibleHeight / 100 + "px");

      let vvmin = visibleHeight > visibleWidth ? visibleWidth : visibleHeight;
      document
        .querySelector(":root")
        .style.setProperty("--vmin", vvmin / 100 + "px");
    },
  },
  // mounted() {
  //   const doc = document.getElementById("app");
  //   if (doc) {
  //     doc.style.height = window.innerHeight + "px";
  //   }
  // },
};
</script>

<style>
/* body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
} */
/* :root {
  --app-height: 100%;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  @media not all and (hover: hover) {
    height: var(--app-height);
  }
} */
@font-face {
  font-family: "Minion Pro Regular";
  src: url("~@/assets/fonts/MinionPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
#app {
  user-select: none;
  position: absolute;
  background: red;
  top: 0;
  left: 0;
  overflow: hidden;
  /* height: 100vh; */
  height: calc(100 * var(--vh));
  width: 100vw;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.footer-element {
  position: absolute;
  background: white;
  width: 100%;

  bottom: 10px;
}
</style>
